/*Solution Page Area Responsive Start*/

/* Header Top Area Responsive Start */
@media(max-width:937px){
    .documentation_area .header_top .header_top_part1 ul li{
        display: block;
        margin-right: 0px;
    }
    .documentation_area .header_top .header_top_part1 ul li:first-child{
        margin-bottom: 10px;
        display: block;
        margin-right: 0px;
    }

    .documentation_area .header_top .header_top_part1 ul li:nth-child(2){
        margin-bottom: 10px;
    }
}


@media(max-width: 815px){
    .documentation_area .header_top .header_top_part2{
        display: flex;
        flex-flow: column;
        margin-bottom: 10px;
    }

    .documentation_area .header_top .header_top_part2 .link{
        margin-right: 0px;
        margin-bottom: 10px;
    }
}


@media(max-width: 550px){
    .documentation_area .header_top .header_top_part1 ul li{
        font-size: 10px;
    }
    .documentation_area .header_top .header_top_part1 ul li i{
        font-size: 12px;
    }

    .documentation_area .header_top .header_top_part2 .link{
        font-size: 10px;
    }
    .documentation_area .header_top .header_top_part2 ul li{
        margin-right: 5px;
    }
    .documentation_area .header_top .header_top_part2 ul li a i{
        font-size: 12px;
    }
}

/* Header Top Area Responsive End */

/* Header Content Area Responsive Start*/

@media(max-width: 1032px){
    .documentation_area .header_content_box .menubar .menu_bar_row ul li{
        margin-right: 25px;
    }
}

@media(max-width: 982px){
    .documentation_area .header_content_box .menubar .menu_bar_row{
        width: 52%;

    }

    .documentation_area .header_content_box .menubar .search_box{
        width: 8%;
    }
}

@media(max-width: 944px){
    .documentation_area .header_content_box .menubar .logo_box{
        width: 18%;
    }
    .documentation_area .header_content_box .menubar .btn_box{
        width: 18%;
    }
    .documentation_area .header_content_box .menubar .menu_bar_row{
        width: 56%;

    }
}

@media(max-width: 876px){
    .documentation_area .header_content_box .menubar .menu_bar_row ul li{
        margin-right: 20px;
    }
}

@media(max-width: 840px){
    .documentation_area .header_content_box .menubar .logo_box{
        width: 17%;
    }
    .documentation_area .header_content_box .menubar .btn_box{
        width: 19%;
    }
    .documentation_area .header_content_box .menubar .menu_bar_row{
        width: 56%;

    }
    .documentation_area .header_content_box .menubar .menu_bar_row ul li{
        margin-right: 16px;
    }
}


@media(max-width: 810px){
    .documentation_area .header_content_box .menubar .logo_box{
        width: 17%;
    }
    .documentation_area .header_content_box .menubar .btn_box{
        width: 18%;
    }
    .documentation_area.header_content_box .menubar .menu_bar_row{
        width: 58%;

    }
    
    .documentation_area .header_content_box .menubar .search_box{
        width: 6%;
        text-align: left;
        padding-left: 15px;
    }
}
/* Header Content Area Responsive End*/

/* Documentation Content Area Responsive */
@media(max-width: 848px){
    .documentation_content_area .contents .search_box #search_icon{
        left: 88%;
    }
}

@media(max-width: 708px){
    .documentation_content_area .contents .search_box #search_icon{
        left: 86%;
    }
}

@media(max-width: 608px){
    .documentation_content_area .contents .search_box #search_icon{
        left: 84%;
    }

    .documentation_content_area .contents h2{
        font-size: 25px;
    }
    .documentation_content_area .contents p{
        font-size: 15px;
    }
}


@media(max-width: 524px){
    .documentation_content_area .contents .search_box #search_icon{
        left: 80%;
    }
    .documentation_content_area .contents .search_box .search{
        padding-top: 11px;
        padding-bottom: 11px;
        padding-left: 11px;
        padding-right: 38px;
        font-size: 14px;
    }
    .documentation_content_area .contents .search_box #search_icon{
        font-size: 16px;
    }
}

@media(max-width: 406px){
    .documentation_content_area .contents .search_box .search{
        font-size: 11px;
        padding-right: 30px;
    }
    .documentation_content_area .contents .search_box #search_icon{
        font-size: 14px;
        left: 74%;
    }
    .documentation_content_area .contents h2{
        font-size: 22px;
    }
    .documentation_content_area .contents p{
        font-size: 12px;
    }
}
/* Documentation Content Area Responsive End*/

/*Card Box Area Area Responsive Start */
@media(max-width: 1311px){
    .card_box_area .card_box_area_all .card_box{
        width: 30%;
    }
}
@media(max-width: 1115px){
    .card_box_area .card_box_area_all .card_box .box2{
        margin-left: 10px;
    }
}
@media(max-width: 1077px){
    .card_box_area .card_box_area_all .card_box .box2 p{
        font-size: 16px;
    }

    .card_box_area .card_box_area_all .card_box .box1 .icon_box{
        margin-bottom: 35px;
    }
}

@media(max-width: 992px){
    .card_box_area .card_box_area_all .card_box{
        width: 49%;
        margin-right: 0px;
    }
}


@media(max-width: 650px){
    .card_box_area .card_box_area_all .card_box{
        width: 100%;
        margin-right: 0px;
    }
}